*.txt
*.o
.vscode/
.idea/
LSH_kNN_Clustering/datasets/
LSH_kNN_Clustering/lsh
LSH_kNN_Clustering/cube
LSH_kNN_Clustering/cluster
Time_Series_kNN_Clustering/datasets/
Time_Series_kNN_Clustering/search
Time_Series_kNN_Clustering/test
Time_Series_kNN_Clustering/cluster
Time_Series_kNN_Clustering/sample_outputs
Time_Series_kNN_Clustering/*.out
